{% extends "top-bar.html" %}

{% block title %}Review Book{% endblock %}

{% block body %}

<form action = "/review-book" method = "POST">
    <div class="review-book">
        <label>How useful was this book?</label>
        <label>1-10</label>
        <input type="text" name="Q1" \>

        <label>What was the book used for?</label>
        <label>Reading, Problems, both, other</label>
        <input type="text" name="Q2" \>

        <label>What did you pay for the book?</label>
        <label>$0, 10,...100+</label>
        <input type="text" name="Q3" \>


        <label>Date</label>
        <label>MM/DD/YYYY</label>
        <input type="text" name="Q4" \>


        <label>Are you satisfied with your book?</label>
        <label>Yes/No</label>
        <input type="text" name="Q5" \>

        <input type="submit" value="Submit" \>
    </div>
</form>



<style type="text/css">
    .review-book {
      margin: 0 auto;
      width: 210px;
    }

    .review-book label{
      text-align: center;
      float: left;
      margin: 10px;
    }

    .review-book input{
      display: inline-block;
      text-align: left;
      float: right;
      padding: 10px;
      margin: 10px;
    }
</style>


{% endblock %}
