{% extends "top-bar.html" %}

{% block title %}Search{% endblock %}

{% block bar_home %}class="active"{% endblock %}

{% block body %}
<form action = "/" method = "POST">
  <div class="center">
    <h1>Nextbook</h1>
    <p>
      <label for="filter">Search by</label>
      <select name="filter" id="filter">
        <option value="title">Title</option>
        <option value="isbn">ISBN</option>
        <option value="class">Class</option>
        <option value="professor">Professor</option>
      </select>
      <input type = "text" name = "phrase"/>
      <button type = "submit"/>go</button>
    </p>
  </div>
</form>
{% endblock %}
