<!DOCTYPE html>
<meta charset="utf-8">

<html>
  <style>
    footer {
      text-align: center;
      padding: 3px;
      background-color: var(--hl-bg);
      color: white;
      position: fixed;
      left: 0px;
      bottom: 0px;
      height: 35px;
      width: 100%;
    }
  </style>

  <head>
    <title>{% block title %}{% endblock %} - Nextbook</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
  </head>

  <body>
    <div class="topnav">
      <a href="/" {% block bar_home %}{% endblock %}>Home</a>
      <a href="/class-list" {% block bar_full_list %}{% endblock %}>Class List</a>
      <a href="/add-book" {% block bar_add_book %}{% endblock %}>Add Book</a>
      <a href="/about" {% block bar_about %}{% endblock %}>About</a>
    </div>

    <div class="body">{% block body %}{% endblock %}</div>
  </body>

  <footer>
    Property of Team Nextbook
  </footer>
</html>
